body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #000;
  background-color: #fff;
  font-size: 14px;
}

a:link, a:visited,
.footer #menu-primary a:link,
.footer #menu-primary a:visited {
  text-decoration: none;
  color: #000;
}

a:hover, a:active,
.footer #menu-primary a:hover,
.footer #menu-primary a:active {
  color: #777;
}

p {
  text-align: justify;
  text-justify: inter-ideograph;
}

rt {
  text-align: center;
  font-size: 75%;
}

.mono, .presentation-id, .presentation-time {
  font-family: 'Noto Sans Mono';
}

.cover {
  width: 100%;
  min-height: calc(80vh - 4rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(240, 238, 233, 0.4);
  font-family: 'Futura', 'Noto Sans JP', sans-serif;
}

.cover-contents {
  width: auto;
  margin: 0 auto;
  text-align: left;
  padding: 0 2rem 4rem 2rem;
}

.cover-title {
  font-weight: bold;
  color: #dd7688;
  letter-spacing: 5px;
  font-size: 48px;
}

.cover-date {
  letter-spacing: 5px;
  color:#444;
  line-height: 2rem;
  text-align: center;
  padding: 0 0.5rem 0 0.5rem;
}

.acknowledgments-box {
  width: 100%;
  margin: 0 auto 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
  min-height: calc(20vh - 2rem);
}

.acknowledgments {
  width: auto;
  margin: 2rem 2rem 2rem 2rem;
}

.sub-container {
  padding: 2rem;
  position: relative;
  max-width: 992px;
  height: 100%;
  margin: 0rem auto 4rem auto;
}

.sub-container-title {
  display: inline-block;
  width: auto;
  letter-spacing: 7px;
  font-size: 20px;
  padding: 1.5rem 0 1rem 0;
  margin: 0 0 0rem 0;
}

.fa-map-marker-alt,
.fa-calendar-alt,
.fa-file-pdf {
  padding-left: 0.12rem;
}

.fa-bullhorn {
  padding-right: 0.3rem;
}

.fa-envelope {
  vertical-align: -1px;
  padding-right: 0.2rem;
}

.fa-mug-hot {
  font-size: 80%;
  padding-bottom: 0.3rem;
}

table.table {
  border-collapse: collapse;
  margin-top: 1rem;
}

table.table td {
  text-align: left;
  vertical-align: top;
  padding: 0 0.5rem 0.5rem 0;
}

table.table td.td-left {
  white-space: nowrap;
}

table.table td.td-any {
  padding-left: 0.5rem;
}

table.table td.td-organiser-name,
table.table td.td-organiser-role {
  text-align: center;
}

table.table td.td-note-pale {
  font-size: 12px;
}

table.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 4rem 0 0 0;
  padding: 0;
  max-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 12px;
}

.styled-table thead tr {
  background-color: #fafafa;
  text-align: left;
}

.styled-table thead th {
  font-weight: normal;
}

.styled-table th,
.styled-table td {
  padding: 0.85rem;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #fafafa;
}

.styled-table tbody tr:last-of-type {
  border-bottom: thin solid #fafafa;
}

.styled-table td.nowrap,
.styled-table th.nowrap {
  white-space: nowrap;
  text-align: center;
}

table.organiser-table {
  margin-top: 2rem;
}

tbody tr.row-sep {
  border-top: 1px solid #f1f1f1;
}

#menu-primary {
  letter-spacing: 3px;
  background-color: rgba(240, 238, 233, 0.4);
  padding: 2rem 0 2rem max(2rem, calc(50vw - 496px));  /* ← 変更 */
  margin: 0;
  color: #fff;
  line-height: 2rem;
  font-family: 'Futura', 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

#menu-toggle-primary {
  display: none;
}

#menu-primary a:link,
#menu-primary a:visited {
  color: #444;
}

#menu-primary a:hover,
#menu-primary a:active {
  color: #777;
}

ul.menu-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 max(2rem, calc(50vw - 496px)) 0 0;  /* ← 変更 */
  justify-content: flex-end;
}

li.menu-item {
  float: left;
  padding-left: 2rem;
}

#menu-brand {
  font-weight: bold;
  float: left;
}

.footer #menu-primary {
  padding: 1.5rem 0 0 0;
  background: none;
  color: #000;
  font-size: 12px;
}

.footer ul.menu-items {
  margin: 0;
}

.footer #menu-brand {
  font-weight: normal;
}

/* middle screen, where the cover title collapses */
@media only screen and (max-width: 1043px) {
  .cover-date {
    text-align: left;
  }

  .acknowledgments-box {
    justify-content: left;
    align-items: center;
  }
}

/* mobile screen (small screen), where the menu toggle appears */
@media only screen and (max-width: 850px) {
  .cover {
    width: 100%;
    min-height: calc(50vh - 4rem);
  }

  #menu-primary,
  #menu-primary:target #menu-primary-items,
  #menu-primary:target #menu-toggle-primary a.close-menu-primary,
  .footer #menu-primary-items {
    display: block;
  }

  #menu-brand {
    float: none;
  }

  li.menu-item {
    float: none;
    padding: 0;
  }

  .footer ul.menu-items,
  .footer #menu-brand {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer li.menu-item {
    padding: 0;
  }

  #menu-primary-items,
  #menu-toggle-primary a.close-menu-primary,
  #menu-primary:target #menu-toggle-primary a.open-menu-primary {
    display: none;
  }

  #menu-toggle-primary {
    display: block;
    position: absolute;
    right: 25px;
    top: 31px;
  }

  .menu-item.github {
    display: none;
  }
}

/* very small mobile screen */
@media only screen and (max-width: 425px) {
  .cover-title {
    font-size: 36px;
  }

  th.presentation-title,
  td.presentation-title {
    display: none;
  }

  .sub-container-title {
    text-align: center;
    margin: 0 auto 0 auto;
    width: 100%;
  }

  .cover-title {
    text-align: center;
  }

  .cover-date {
    text-align: center;
    font-size: 12px;
  }
}
